{% extends 'base.html' %}
{% load static %}
{% block title %}Blogs{% endblock %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({{ breadcrumb.breadcrumb_image.url }});">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">Our blogs</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'homepage:home' %}">Home <i class="fa fa-angle-double-right"></i></a></span> <span>Blog <i class="fa fa-angle-double-right"></i></span></p>
      </div>
    </div>
  </div>
</section>
{% if blogs %}
<section class="darkening ftco-section" id="xs">
	<div class="container">
		<div class="row">
      {% for blog in blogs %}
      <div class="col-md-6 col-lg-4 ftco-animate mt-4 mb-4">
        <div class="blog-entry">
          <a href="{{ blog.get_absolute_url }}" class="block-20 d-flex align-items-end" style="background-image: url({{ blog.blog_thumbnail.url  }});">
						<div class="meta-date text-center p-2">
              <span class="day">{{ blog.blog_added_date.day }}</span>
              <span class="mos">{{ suffer }}</span>
              <span class="yr">{{ blog.blog_added_date.year }}</span>
            </div>
          </a>
          <div class="blog-cards text p-4">
            <h3 class="heading"><a href="{{ blog.get_absolute_url }}">{{ blog.blog_title }}</a></h3>
            <p>{{ blog.blog_short_description }}</p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0"><a href="{{ blog.get_absolute_url }}" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
              <p class="ml-auto mb-0">
              	<a {% if blog.user.username != 'Anonymous' %}href="#"{% endif %} {% if blog.user.username == 'Anonymous' %}style="color: grey;"{% endif %} class="mr-2">{{blog.user.username}}</a>
              	<a href="{{ blog.get_absolute_url }}#comment-section" class="meta-chat"><span class="fa fa-comment-alt"></span> {{ blog.rootcomments_set.all.count }}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
	</div>
</section>
{% endif %}
{% endblock %}
