{% load static %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hit tech solution group Rwanda | {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="_9jhDV7mrkm9tQfjYFoHNWBvX8vW8B4ITdKb9OUSu6c" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    {% block metas %}{% endblock %}

    <link rel="shortcut icon" type="image/png" href="{% static 'images/hittechsolutiongroup_logo.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha512-UyNhw5RNpQaCai2EdC+Js0QL4RlVmiq41DkmCJsRV3ZxipG2L0HhTqIf/H9Hp8ez2EnFlkBnjRGJU2stW3Lj+w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css" integrity="sha512-nIm/JGUwrzblLex/meoxJSPdAKQOe2bLhnrZ81g5Jbh519z8GFJIWu87WAhBH+RAyGbM4+U3S2h+kL5JoV6/wA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  </head>
  <body>
    <div class="bg-top navbar-light darkening">
      <div class="container">
        <div class="row no-gutters d-flex align-items-center align-items-stretch">
          <div class="col-md-6 d-flex align-items-center py-4">
            <a class="navbar-brand" href="{% url 'homepage:home' %}">Hit tech <span>Solution group</span></a>
          </div>


          <div class="col-lg-6 d-block">
            <div class="row d-flex">
              {% if user.is_authenticated %}
              <div id="profile" class="mt-5 col-md topper d-flex align-items-center justify-content-end">
                <div class="icon d-flex justify-content-center align-items-center">
                  {% cloudinary user.members.member_image.url class="rounded-circle" height=30 width=30 %}
                </div>
                <div class="text">
                  <span></span>
                  <span>{{ user.get_full_name }}</span>
                </div>
              </div>
              {% endif %}

              {% if not user.is_authenticated %}
              <div class="col-md topper d-flex align-items-center justify-content-end">
                <p class="mb-0 mt-4">
                  <a class="mt-2 btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center" id="join">
                    <span>Login</span>
                  </a>
                </p>
              </div>
              {% endif %}
            </div>
          </div>


        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light darkening" id="ftco-navbar">
      <div class="mr-5 ml-5 container-fluid d-flex align-items-center px-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span> Menu
        </button>
        {% comment %}
        <form action="#" class="searchform order-lg-last">
          <div class="form-group d-flex">
            <input type="text" class="form-control pl-3" placeholder="Search">
            <button type="submit" placeholder="" class="form-control search"><span class="ion-ios-search"></span></button>
          </div>
        </form>
        {% endcomment %}
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == '/' %}active{% endif %}"><a href="{% url 'homepage:home' %}" class="nav-link pl-0">Home</a></li>
            <li class="nav-item {% if request.path == '/about-us/' %}active{% endif %}"><a href="{% url 'aboutpage:about' %}" class="nav-link">About us</a></li>
            <li class="nav-item {% if request.path == '/services/' %}active{% endif %}"><a href="{% url 'servicespage:services' %}" class="nav-link">Our services</a></li>
            <li class="nav-item {% if request.path == '/staff-members/' %}active{% endif %}"><a href="{% url 'memberspage:team' %}" class="nav-link">team</a></li>
            <li class="nav-item {% if request.path == '/blogs/' %}active{% endif %}{% block blog-active %}{% endblock %}"><a href="{% url 'blogpage:blog' %}" class="nav-link">Blog</a></li>
            <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}"><a href="{% url 'contactpage:contact' %}" class="nav-link">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id='notification-bar'>
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
    <!-- END nav -->	

    {% block content %}{% endblock %}
    <section class="signin-section">
    <div class="signin-close" id="close-signin"><i class="fa fa-times"></i></div>
    <div class="lbox">
        <h2>Sign In</h2>
        <form action="{% url 'memberspage:sign-in' %}" method="POST">
          {% csrf_token %}
          <div class="loading">
            <img src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/ajax-loader.gif">
          </div>
          <div class="inputbox">
            <input type="text" name="username" required>
            <label>Username</label>
          </div>
          <div class="error-pop-up">
            <p>Invalid credential</p>
          </div>
          <div class="loading">
            <img src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/ajax-loader.gif">
          </div>
          <div class="inputbox">
            <input type="password" name="password" minlength="5" autocomplete="on" required>
            <label>Password</label>
          </div>
          <div class="error-pop-up">
            <p>Invalid credential</p>
          </div>
          <input type="submit" name="" value="Sign in">
        </form>
        <a href="#" id="signup">Don't have an account</a>
      </div>  
  </section>

  <section class="signup-section">
    <div class="signup-close" id="close-signup"><i class="fa fa-times"></i></div>
    <div class="lbox">
        <h2>Sign Up</h2>
        <form id="sign-up-section" action="{% url 'memberspage:sign-up' %}" method="POST">
          {% csrf_token %}
          <div class="inputbox">
            <input type="text" name="firstname" required>
            <label>First name</label>
          </div>
          <div class="inputbox">
            <input type="text" name="lastname" required>
            <label>Last name</label>
          </div>
          <div class="loading">
            <img src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/ajax-loader.gif">
          </div>
          <div class="inputbox">
            <input type="text" name="username" required>
            <label>Username</label>
          </div>
          <div class="error-pop-up">
            <p>username already taken</p>
          </div>
          <div class="loading">
            <img src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/ajax-loader.gif">
          </div>
          <div class="inputbox">
            <input type="email" name="email" required>
            <label>Email</label>
          </div>
          <div class="error-pop-up">
            <p>email already taken</p>
          </div>
          <div class="inputbox">
            <input class="pwd_1" type="Password" name="password" required>
            <label>Password</label>
          </div>
          <div class="error-pop-up">
            <p>password doesn't match</p>
          </div>
          <div class="inputbox">
            <input class="pwd_2" type="Password" name="confirm_password" required>
            <label>Confirm password</label>
          </div>
          <div class="error-pop-up">
            <p>password doesn't match</p>
          </div>
          <input type="submit"value="Sign up">
        </form>
        <a href="#" id="signin">Already have an account</a>
      </div>  
    </section>

    {% if user.is_authenticated %}
    <section id="profileset">
      <div class="profileset-close" id="close-profileset"><i class="fa fa-times"></i></div>
    <div class="main-content mb-5">
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default"></span>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--t">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    {% cloudinary user.members.member_image.url class="rounded-circle" height=220 width=190 %}
                  </a>
                </div>
              </div>
            </div>
            
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading"></span>
                      <span class="description"></span>
                    </div>
                    <div>
                      <span class="heading"></span>
                      <span class="description"></span>
                    </div>
                    <div>
                      <span class="heading"></span>
                      <span class="description"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{ user.get_full_name }}
                  <span class="font-weight-light"></span>
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>
                  {% if user.members.member_country is not None %}
                  {{ user.members.member_country }}{% endif %}{% if user.members.member_country and user.members.member_city is not None %},{% endif %} {% if user.members.member_city is not None %}{{ user.members.member_city }}{% endif %}
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>
                  {% if user.members.member_position is not None %}
                    {{ user.members.member_position }}
                  {% endif %}
                </div>
                <hr class="my-4">
                <p>  
                  {% if user.members.about_member is not None %}
                  {{ user.members.about_member }}
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-8 order-xl-1">
          <div class="card darkening shadow">
            <div class="card-header border-0" style="background: #1f2e82 !important;">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="{% url 'memberspage:sign-out' %}" class="btn btn-sm btn-primary">Sign out</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form action="{% url 'memberspage:update-profile' user.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h6 class="heading-small mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label for="input-username">Username</label>
                        <input name="username" type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username">
                      </div>
                      <div class="error-pop-up">
                        <p>Username already exists</p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="input-email">Email address</label>
                        <input name="email" type="email" id="input-email" class="form-control form-control-alternative" placeholder="email@example.com">
                      </div>
                      <div class="error-pop-up">
                        <p>email already taken</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label for="input-first-name">First name</label>
                        <input name="firstname" type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label for="input-last-name">Last name</label>
                        <input name="lastname" type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label for="input-position">position</label>
                        <input name="position" type="text" id="input-position" class="form-control form-control-alternative" placeholder="Position">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <label>profile image</label>
                      <div class="custom-file">
                        <input name="profile" type="file" class="custom-file-input" id="customFiles">
                        <label class="custom-file-label" for="customFiles" style="color: #bbb; font-weight: 600;">Change your profile image</label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label for="input-country">Country</label>
                        <input name="country" type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label for="input-city">City</label>
                        <input name="city" type="text" id="input-city" class="form-control form-control-alternative" placeholder="City">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">About me</h6>
                <div class="pl-lg-4">
                  <div class="form-group focused">
                    <label>About Me</label>
                    <textarea name="about" rows="4" class="form-control form-control-alternative" placeholder="A few words about you ..."></textarea>
                  </div>
                </div>
                <div>
                  <div class="d-flex justify-content-between mt-5 mb-2">
                    <a href="{% url 'memberspage:delete-profile' user.pk %}" class="btn btn-sm btn-info mr-4">Delete My Account</a>
                    <input type="submit" class="btn btn-sm btn-default float-right" value="Save changes">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
    <footer class="darkening ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="ftco-footer-widget">
            	<h2 class="ftco-heading-2 mb-2">Address</h2>
            	<div class="block-23">
	              <ul>
	                <li><span class="fa fa-map-marked-alt mr-3"></span><span class="text">{{address }}</span></li>
	                <li><a href="tel:{{number}}"><span class="fa fa-phone-alt mr-3"></span><span class="text">{{ number }}</span></a></li>
	                <li><a href="mailto:{{email}}"><span class="fa fa-envelope mr-3"></span><span class="text">{{ email }}</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4">
            <div class="ftco-footer-widget ml-md-4">
              <h2 class="ftco-heading-2 mb-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="{% url 'homepage:home' %}"><span class="fa fa-long-arrow-alt-right mr-2"></span>Home</a></li>
                <li><a href="{% url 'aboutpage:about' %}"><span class="fa fa-long-arrow-alt-right mr-2"></span>About</a></li>
                <li><a href="{% url 'servicespage:services' %}"><span class="fa fa-long-arrow-alt-right mr-2"></span>Services</a></li>
                <li><a href="{% url 'memberspage:team' %}"><span class="fa fa-long-arrow-alt-right mr-2"></span>Members</a></li>
                <li><a href="{% url 'contactpage:contact' %}"><span class="fa fa-long-arrow-alt-right mr-2"></span>Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="ftco-footer-widget">
            	<h2 class="ftco-heading-2 mb-2">Connect With Us</h2>
            	<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-2">
                <li class="ftco-animate"><a href="#"><span class="fab fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="fab fa-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p>
            Copyright &copy; <span id="time"><script>time.textContent = new Date().getFullYear();</script></span></i> by <a href="#" target="_blank">Umutambyi Gad</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#1874eb"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#5affd9"/></svg></div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha512-lzilC+JFd6YV8+vQRNRtU7DOqv5Sa9Ek53lXt/k91HZTJpytHS1L6l1mMKR9K6VVoDt4LiEXaa6XBrYk1YhGTQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js" integrity="sha512-VqTaIU3VlSHylzoMs3hWCBTMZ9l5fvYayp4yzRb5qV9Ne4Z+n21uFoG672gWMcJiedQYZV2KmXF3VkTTsRGRbg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha512-ahmSZKApTDNd3gVuqL5TQ3MBTj8tL5p2tYV05Xxzcfu6/ecvt1A0j6tfudSGBVuteSoTRMqMljbfdU0g2eDNUA==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js" integrity="sha512-+m6t3R87+6LdtYiCzRhC5+E0l4VQ9qIT1H9+t1wmHkMJvvUQNI5MKKb7b08WL4Kgp9K0IBgHDSLCRJk05cFUYg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-animateNumber/0.0.14/jquery.animateNumber.min.js" integrity="sha512-WY7Piz2TwYjkLlgxw9DONwf5ixUOBnL3Go+FSdqRxhKlOqx9F+ee/JsablX84YBPLQzUPJsZvV88s8YOJ4S/UA==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/scrollax@1.0.0/scrollax.min.js"></script>
  <script src="{% static 'js/main.min.js' %}"></script>
  </body>
</html>